:root{
  --color-fire: #FF9900;
  --color-bug: #3BB900;
  --color-dragon: #00458A;
  --color-fairy: #FFC2F9;
  --color-ghost: #5A1E64;
  --color-ground: #965A00;
  --color-normal: #B3B3B3;
  --color-poison: #AB00AE;
  --color-rock: #E1B237;
  --color-water: #00A0E4;
  --color-dark: #1C1C1C;
  --color-electric: #FFE600;
  --color-fighting: #E40000;
  --color-flying: #B5DFE8;
  --color-grass: #57921C;
  --color-ice: #6AD2FF;
  --color-plant: #70DF00;
  --color-psychic: #FF81F2;
  --color-steel: #2A4950;
  --color-primary: #255e3d;
}
