:host{
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  .info_entrenador {
    display: grid;
    align-items: center;
    padding: 20px 0;
  }
  .info_entrenador img{
    width: 50%;
  }
  .info_basica{
    font-size: 20px;
    font-weight: bold;
  }
  .btn-search{
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: var(--color-fighting);
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
  }
  .btn-search:hover{
    background-color: var(--color-steel);
  }
  .logo{
    width: 50%;
    text-decoration: none;
    font-family: inherit;
    color: #FFCB05;
    font-size: 84px;
    font-weight: bold;
    text-shadow: 4px 0 0 #080B3A, -4px 0 0 #080B3A, 0 4px 0 #080B3A, 0 -4px 0 #080B3A;
  }

  .cardlist-pokemon {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 30px;
    padding: 50px;

}
.pokemon{
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  background: #FCDDEC;
}
.pokemon:hover{
  transform: translateY(-15px);
}

.card-img{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 270px;
  width: 270px;
}

.card-img img{
  width: 90%;
  height:90%;
}

.card-info{
  padding: 20px;
}

.card-info h1{
  color: #000;
  font-size: 40px;
}
.pokemon-id{
  display: block;
  color: rgb(126, 50, 50);
  margin-bottom: 15px;
}

.card-types{
  display:flex;
  gap: 10px;
  margin-top: 15px;
}

.card-types span{
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}


.grass{
  background-color: var(--color-grass);
}

.poison{
  background-color: var(--color-poison);
}
.fire{
  background-color: var(--color-fire);
}
.steel{
  background-color: var(--color-steel);
}
.dragon{
  background-color: var(--color-dragon);
}
.fairy{
  background-color: var(--color-fairy);
}
.ghost{
  background-color: var(--color-ghost);
}
.ground{
  background-color: var(--color-ground);
}
.normal{
  background-color: var(--color-normal);
}

.rock{
  background-color: var(--color-rock);
}
.water{
  background-color: var(--color-water);
}
.dark{
  background-color: var(--color-dark);
}
.electric{
  background: var(--color-electric);
}

.fighting{
  background-color: var(--color-fighting);
}
.flying{
  background: var(--color-flying);
}
.ice{
  background: var(--color-ice);
}
.bug{
  background: var(--color-bug);
}
.psychic{
  background: var(--color-psychic);
}

}

@media screen and (max-width: 640px ) and (min-width: 150px) {
  .cardlist-pokemon {
    display:grid;
    grid-template-rows: repeat(1, 1fr);
    width: 40%;
    margin: 30px;
    padding: 50px;

  }
  .pokemon {
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    background: #FCDDEC;
  }
  .card-img{

    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 270px;
    width: 270px;
  }
  }
